spring:
  cloud:
    gateway:
      server: # NEW level
        webflux: # NEW level
          discovery:
            locator:
              enabled: false
              lower-case-service-id: true
          routes:
            - id: user-service
              uri: lb://user-service
              predicates:
                - Path=/api/v1/auth/**
              filters:
                - name: Jwt
                  args:
                    order: -1
management:
  endpoint:
    gateway:
      access: unrestricted
  endpoints:
    web:
      exposure:
        include: "health,info,gateway,env"